#container {
    background-color: white;
    color: black;
    min-width: 600px;
    margin-left:40px;
    margin-right:40px;
	overflow-y: auto;
    border: 3px solid #868686;
    text-align: left;
	border-radius: 17px;
	padding: 20px 40px;
    font-family: Helvetica,Verdana, Arial, sans-serif;
	font-size: 14px;
    line-height: 16px;
}

#container h1 {
    color: #868686;
    font: 18px/1.2 normal Helvetic,Verdana,Arial,sans-serif;
}
