header {
    min-height: 4em;
    width: 80%;
    margin: 0% auto 1% auto;
    position: relative;
    border-radius: 1em;
    background-color: white;

}

a img {
    text-decoration: none;
    margin:0px;
    padding:0px;
}

h1 {
    text-align: center;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    font-weight: 500;
    vertical-align: center;
    height: auto;
    width: 50%;
    margin-left: 25%;
}

#eculogo{
    position: absolute;
    top:5%;
    left:2%;
    width: 115px;
    height: 50px;    
}

#work {
    position: absolute;
    right: 5%;
    top:4%;    
    width:100px;
    height:50px;
}


@media only screen and (max-width:768px) {
   h1{
        font-size: 25px;
        height: auto;
    }
   #eculogo, #work {
       width:15%;
       height:80%
   }

}

@media only screen and (min-width: 769px) {
    h1{font-size: 40px;}
}