header {
    min-height: 4em;
    width: 80%;
    margin: 0% auto 0% auto;
    position: relative;
    border-radius: 1em;
    background-color: white;

}
 a img {
    text-decoration: none;
    margin:0px;
    padding: 0px; 
    height: 0px;
}

 #sumid {
    text-align: center;
    font-size: 32pt;
    font-family: Helvetica,Verdana,Arial,sans-serif;
    display: inline-block;
    vertical-align: center;
    font-weight: 500;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#eculogo{
    position: absolute;
    vertical-align: center;
    left:2%;
    width: 115px;
    height: 50px;    
}

#work {
    position: absolute;
    right: 5%;
    float: right;
    vertical-align: center;   
    width:100px;
    height:50px;
}


@media only screen and (max-width:768px) {
   h1{
        font-size: 25px;
        height: auto;
    }
   #eculogo, #work {
       width:15%;
       height:80%
   }

}

@media only screen and (min-width: 769px) {
    h1{font-size: 40px;}
}