body {
    min-height:850px;
    text-align: center;
    color: #000;
    font: 12pt normal "Times New Roman", Times, serif;
    background: url("../img/colorsBg.png");
}
body div#super {
    border-radius: 10px;
    background-image: url("../img/pirateship_sketch.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width:988px;
    height: 800px;
    margin: 15px auto;
    padding: 5px;
}

h1 {
    font: 20pt/1.2 normal Helvetica,Verdana,Arial,sans-serif;
    text-align: left
}

footer {
    padding-top:10px;
    border-radius:10px;
    background: #fff;
    height: 90px;
    width:600px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

