<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/mast_styles.css" />
    </head>
    <body>
        {{>header}}
        {{content}}
           
        {{>footer}}
    </body>


</html>