<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <link rel="stylesheet" href="css/content_window.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="super">
        {{>header}}
        <div id="container">
            <p>Ahoy! The Modules Addressing Special Education and Teacher Education (MAST) were created to focus on important topics in special education courses and professional development for teachers. Concepts have broad application for all special education teachers have been formatted in brief modules which may be viewed in about one hour. There are links to resources which may also be accessed for additional information on the topic. This group of OSEP-funded modules is designed for use in courses to prepare special education teachers or for professional development activities with teachers. We selected a nautical theme and hope you will choose to come aboard and travel with us on the journey! </p>
            <p>The compass rose on our website will point to where you are in the journey through a module – Anchors Aweigh (Introduction), Set the Course (Background), Plan of the Day (Content), and Drop Anchor (Summary and Feedback). The modules are all structured to have these same four components. Each concludes with a self-evaluation which provides immediate feedback through links to the content.</p>
            <p>Individuals using the modules as part of a course or professional development activity will benefit from a brief facilitator’s guide included with each module suggesting activities and extensions of the content. A Power Point presentation is also provided to support use in professional development activities. We hope you will use the comment section to provide information for refinement of the modules or share how you are using a module.</p>
            <p>If you forget the nautical terms,<!--then you are definitely not very piratey--> just use the links on the compass rose to continue on your journey. So anchors aweigh, set the course, and complete the plan for the day before you drop anchor at the end of a module!</p>
            <p>All hands on deck!</p>
            <p></p>
            <p class="centered">
                <br />
                <img src="img/MAST.gif" />
                <img src="img/IdeasthatWork.gif" />
                <img src="img/ECULogoNew.jpeg" height="75px" width="150px"/>
            </p>

            <p>&nbsp;</p>
            <p>This Web site is made possible through grants 
                (#H325A030106, H325K053082, and H325T070027) between
                East Carolina University and the Office of Special Education Programs,
                U.S. Department of Education. The contents of this website do not
                necessarily reflect views or policies of the U.S. Department of Education,
                nor does mention of trade names, commercial products, or organizations 
                imply endorsement by the U.S. Government.
            </p>
        </div>
           
        {{>footer}}
        </div>
    </body>


</html>