<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <link rel="stylesheet" href="css/content_window.css" />
    </head>
    <body>
        {{>header}}
        <div id="container" >
            <p class="centered">
                <img src="img/logobig.jpg" />
                <br/>
                
            </p>
            <p class="centered"><a href="/picker">Select a Module </a>| <a href="/about">About Mast</a></p>
            <p class="centered"><img src="img/IdeasthatWork.gif" width="150" height="75" alt="OSEP" />
                <img src="img/ECU.jpg" width="227" height="75" alt="East Carolina University" />
            </p>

            <p>This Web site is made possible through grants (#H325A030106, H325K053082, and H325T070027)
                 between East Carolina University and the Office of Special Education Programs, U.S. Department of
                 Education. The contents of this website do not necessarily reflect views or policies of the U.S.
                 Department of Education, nor does mention of trade names, commercial products, or organizations imply 
                 endorsement by the U.S. Government.
            </p>



        </div> 
        {{>footer}}
    </body>


</html>