<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <link rel="stylesheet" href="css/content_window.css" /> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 

    </head>
    <body>
        <div id="super"> 
        {{>header}}
        <div id="container" >
            <br />
            <br />
            <p class="centered">
                <img src="img/MAST_logoNew.jpeg" />
                <br/>
                
            </p>
            <p class="centered"><a class="purpButtons" href="/picker">Select a Module </a>&nbsp;&nbsp;<a class="purpButtons" href="/about">About Mast</a></p>
            {{!-- <p class="centered"><img src="img/IdeasthatWork.gif" width="150" height="75" alt="OSEP" />
                <img src="img/ECU.jpg" width="227" height="75" alt="East Carolina University" />
            </p> --}}

            <p>
            </p>



        </div> 
        {{>footer}}
    </body>
    </div>



</html>