<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <link rel="stylesheet" href="css/content_window.css" />
    </head>
    <body>
        <div id="super">
        {{>header}}
        <div id="container"> 
             <p>I'm the map, i'm the map, i'm the map, i'm the map.....</p>
        </div>
               {{>footer}}
    </div>
    </body>


</html>