<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css"
    </head>
    <body>
        {{>header}}
        <p>I'm the map, i'm the map, i'm the map, i'm the map.....</p>
        {{>footer}}
    </body>


</html>