<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="super">
            {{>header}}
            <div id="container">           
                {{>main_content}}
            </div> 
            {{>footer}}
    </div>
    </body>
</html>