<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <link rel="stylesheet" href="css/content_window.css" />

    </head>
    <body><div id="super">
        {{>header}}
        <div id="container">
           
            {{>main_content}}            
            <a id="modHome" href="/picker">Module Home</a>
            <a id="home" href="/">MAST Home</a>
        </div> 
        {{>footer}}
    </div>
    </body>
</html>