<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script>
            function getSubs(mod) {
                //alert("why do you suck? " + mod)
                document.getElementById("sumid").innerHTML = mod;
                document.getElementById("col-2").appendChild(mod);
            }
        </script>


    </head>
    <body>
        <div id="super">
            {{>header}}
            <div id="container">           
                {{>main_content}}
            </div> 
            {{>footer}}
    </div>
    </body>
</html>