<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/public/mast_styles.css"
    </head>
    <body>
        {{>header}}
        <p>Place Holder. I'm holding a place. No Cutting!!</p>
        {{>footer}}
    </body>


</html>