<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/mast_styles.css" />
        <link rel="stylesheet" href="css/content_window.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body><div id="super"> 
        {{>header}}
        <div id="container">
            <p>All of the materials on the MAST website developed with OSEP funding are freely
        available to the public and may be used for any purpose as long as the credit is given to
        the MAST project by citing below images or text: <em>Courtesy of the MAST Project, East
        Carolina University.</em></p>

        <p><b>To cite one module please follow this format. The correct citation for each module
        is located above the reference list within the module.</b></p>

        <p>Developer’s last name and initials. (n.d.). <em>Title of the module.</em> East Carolina University:<br />
        &nbsp;&nbsp; MAST Project. Retrieved from <a href="/">http://MAST.ECU.EDU</a></p>

        <p><b>For example:</b></p>

        <p>Metcalf, D. (2010).<em>Universal Design for Learning: An Introduction.</em> East Carolina<br />
        &nbsp;&nbsp;University: MAST Project. Retrieved from <a href="http://mast.ecu.edu">http://MAST.ECU.EDU</a></p>

        <p><b>To cite the website follow the format below:</b></p>

        <p>Modules Addressing Special Education and Teacher Education (MAST). (2010).<br />
        &nbsp;&nbsp;Retrieved from <a href="http://mast.ecu.edu">http://MAST.ECU.EDU</a></p>
        </div>

    {{>footer}}
    </div>
</body>


</html>