<link rel="stylesheet" href="css/footer.css" />

<div id="footer">
    <a href="/">Home</a> |
    <a href="/picker">Module Selection</a> | 
    <a href="/about">About MAST</a> |
    <a href="/terms">Terms of Use</a> | 
    <a href="mailto:warrens@ecu.edu?subject=MAST Modules">Contact MAST</a>  
    <!--a href="/map">Site Map</a--> <!-- don't forget to replace the vertical pipe "|" after
        "Contact MAST" when and if the map page becomes functional. KTHNXBYE -->
    <!--p id="tellTale">&rArr;</p-->

    <h6>
        This Web site is made possible through grants 
                (#H325A030106, H325K053082, and H325T070027) between
                East Carolina University and the Office of Special Education Programs,
                U.S. Department of Education. The contents of this website do not
                necessarily reflect views or policies of the U.S. Department of Education,
                nor does mention of trade names, commercial products, or organizations 
                imply endorsement by the U.S. Government.
    </h6>
</div>
