<a href="/">Home</a> |
<a href="/picker">Module Selection</a> | 
<a href="/about">About MAST</a> |
<a href="/terms">Terms of Use</a> | 
<a href="mailto:warrens@ecu.edu?subject=MAST Modules">Contact MAST</a> | 
<a href="/map">Site Map</a>

<h6>
    &copy;MMXIX East Something College-o-Larnin'. No part of this site my be replicated
    without explicit proof of spleen-have.
</h6>