<!--link rel="stylesheet" href="css/mast_styles.css"-->
<link rel="stylesheet" href="css/header.css">

<header>
    <!--a href="https://education.ecu.edu"><img id="eculogo" src="img/ECULogoNew.jpeg" /> </a-->
    <div id="sumid">{{title}}</div>
    <!--img id="work" src="img/IdeasthatWork.gif" /-->
</header>