
<link rel="stylesheet" href="css/content_window.css" />

    <div class="col-1">
        <div id="colHead">Categories</div>
        {{{content.col1}}}
    </div>
    <div class="col-2">
        <div id="colHead">Modules</div>
        {{{content.col2}}}
    </div>  
    <div class="col-3">
        <div id="colHead">iBooks</div>
        {{{content.col3}}}
        <!--button onclick="doSomthing();">Click Me!</button-->
    </div>

    




