<link rel="stylesheet" href="/css/navbar.css" />
<div id="navbar">
    <a href="/">Home</a>
    <a href="/picker">Module Selector</a>
    <a href="/about">About MAST</a>
    <a href="/terms">Terms of Use</a>
    <a href="mailto:warrens@ecu.edu?subject=MAST Modules">Contact MAST</a>
    <!-- a href="/map">Site Map</a -->
</div>